{% extends 'base.html.twig' %} {% block content %}
<style>
  h2 {
    margin: 30px 0;
    text-align: center;
  }
</style>

<div class="container">
  <h2>List des ecoles</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for c in data %}
      <tr>
        <th scope="row">{{ c.id }}</th>
        <td>{{ c.Nom }}</td>
        <td>{{ c.Adresse }}</td>
        <td>
          <a class="btn btn-info" href="{{ path('Ecole_update', { id: c.id }) }}"
            >Modifier</a
          >
          <a class="btn btn-danger" onclick="return confirm('Etes vous sure?')" href="{{ path('Ecole_delete', { id: c.id }) }}" onclick="deleteEcole({{ c.id }})"
            >Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
